<div class="pure-g" ng-controller="ChallengeViewController as chal" style="height:100%">
  <div class="pure-u-1 pure-u-md-3-5" style="height:100%; overflow: auto">
    <div class="content">
      <h1>{{ chal.selected.Title }}</h1>
      <h3>{{ chal.selected.Description }}</h3>
      <p>
        <a href="#/challenge">Back to challenges list</a>
      </p>
      <div ng-bind-html="chal.selected.Body | to_trusted">
      </div>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-2-5" style="overflow: auto; background-color: #eee; height: 100%;">
    <div class="content">
      <h1>Submission</h1>
      <div class="progress" ng-show="job != null && job.Status < 3">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <p class="text">{{ status_list[job.Status] }}</p>
      </div>
      <div class="progress" ng-show="job != null && job.Status == 3">
        <p class="icon">&#10003;</p>
        <p class="text">VALIDATED</p>
      </div>
      <div class="progress" ng-show="job != null && job.Status == 4">
        <p class="icon">&#10007;</p>
        <p class="text">ERROR</p>
        <p class="text">
          <a href="" ng-click="job = null">
            Retry
          </a>
        </p>
      </div>

      <div ng-repeat="exec in job.Executions">
        <hr>
        <p>
          <span ng-show="!exec.Run">&#8987;</span>
          <span ng-show="exec.Run && exec.Error==''">&#10003;</span>
          <span ng-show="exec.Run && exec.Error!=''">&#10007;</span>
          {{ exec.Description }}<br>
          <em>{{ exec.Error }}</em>
          <textarea class="output" ng-show="exec.Output" disabled>{{ exec.Output }}</textarea>
        </p>
      </div>

      <div ng-show="job == null">
        <p>
          <textarea ng-model="code" class="code" ng-allow-tab></textarea>
        </p>
        <button class="pure-button pure-button-primary" ng-click="submitAnswer()">validate your answer</button>
      </div>
    </div>
  </div>
</div>

